AUTH_LIMIT_CONFIG=./config.yaml

AUTH_LIMIT_SERVER_HOST=http://127.0.0.1:8080
AUTH_LIMIT_SERVER_PORT=8080
AUTH_LIMIT_RUN_MODE=dev

AUTH_LIMIT_SERVICE_CODE=authlimit
AUTH_LIMIT_SERVICE_NAME=鉴权限流核心服务
AUTH_LIMIT_SERVICE_VERSION=v0.1.0

AUTH_LIMIT_POSTGRES_HOST=127.0.0.1
AUTH_LIMIT_POSTGRES_PORT=5432
AUTH_LIMIT_POSTGRES_USER=postgres
AUTH_LIMIT_POSTGRES_PASSWORD=change-me
AUTH_LIMIT_POSTGRES_DB=auth_limit_db
AUTH_LIMIT_POSTGRES_SSLMODE=disable
AUTH_LIMIT_POSTGRES_DSN=host=${AUTH_LIMIT_POSTGRES_HOST} port=${AUTH_LIMIT_POSTGRES_PORT} user=${AUTH_LIMIT_POSTGRES_USER} password=${AUTH_LIMIT_POSTGRES_PASSWORD} dbname=${AUTH_LIMIT_POSTGRES_DB} sslmode=${AUTH_LIMIT_POSTGRES_SSLMODE}

AUTH_LIMIT_REDIS_ADDR=127.0.0.1:6379
AUTH_LIMIT_REDIS_USERNAME=authlimit_user
AUTH_LIMIT_REDIS_PASSWORD=change-me
AUTH_LIMIT_REDIS_DB=0

AUTH_LIMIT_JWT_ISSUER=authlimit
AUTH_LIMIT_JWT_PRIVATE_KEY_PATH=./certs/jwt_private.pem
AUTH_LIMIT_JWT_PUBLIC_KEY_PATH=./certs/jwt_public.pem

AUTH_LIMIT_OIDC_ISSUER=http://127.0.0.1:8080
